# ------------------------------------------------
# Rewrite url path to index.php param
# ------------------------------------------------
RewriteEngine On
RewriteBase /sharemarks-php-server/api/v1/bookmarks/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?id=$1 [L,QSA]